.header-shadow {
  box-shadow: -2px 2px 5px rgba(255, 255, 255, 0.2),
    2px -2px 5px rgba(255, 255, 255, 0.2),
    inset -2px 2px 5px rgba(255, 255, 255, 0.2),
    inset 2px -2px 5px rgba(255, 255, 255, 0.2);
}

.vintage-bg {
  background-image: linear-gradient(#efe1d6,
      #fef4e8 7.1%,
      #f7e9dc 7.25%,
      #f7ece8 7.35%,
      #e8dacf 7.4% 9.5%,
      #e3d6ce 7.6%,
      #d9cbc6 39%,
      transparent 39.02%,
      transparent 55%,
      #d5c5c0 55.02%,
      #cdc4bd,
      #cbc2bd,
      #cbbeb6 96%,
      #c5bcb3 96.15%,
      #797069 99%,
      #544f4c),
    linear-gradient(170deg, #cdc4bd, #c6bdb6);
}

.desc-container-bg {
  background-color: #1c1c1c;
  background: linear-gradient(180deg,
      #1D1820 0%,
      #2C2C2C 4.8%,
      #2E2929 8%,
      #383836 12.5%,
      #272727 80%,

      #272727 98%,
      #2E2929 98.89%,
      #2C2C2C 99.5%,

      #1D1818 100%);




}

.radio-name-bg {
  background-color: #000000;
}

/* do more darker the gradient for the desc-bg */

.desc-bg {
  background-color: #000000;
  background: linear-gradient(180deg,
      #151515 0%,

      #111111 1.5%,
      #000000 3.5%,

      #000000 96%,
      #232323 98%,
      #202020 98.89%,
      #1f1d1d 99.5%);
}

.desc-btn-bg {
  background-image: radial-gradient(#77726e 30%, #9a968d 50%, transparent 65%),
    linear-gradient(#a29899,
      #c1b7b5,
      #c5bbb9,
      #c8bebc 10%,
      #aaa09e 29%,
      /* End highlight */
      #a19d92 32%,
      /* start key */
      #a19c98,
      #9d9990 77%,
      /* end key */
      #65605c 95%,
      /* start shadow */
      #393335);
  box-shadow: 3px 10px 12px -3px rgba(0, 0, 0, 0.45),
    2px 20px 14px -2px rgba(0, 0, 0, 0.2), 0 0 1px 0.25px #383129,
    0.5px 0 1px -0.25px #453d3a inset, 0 -1.25px 1.5px -0.75px #22171b inset,
    0 1px 1.25px -0.75px #aea4a3 inset;

}

.desc-btn-bg:active {
  /* skew the button */
  scale: 0.98;
  border-top: 6px solid transparent;
  box-shadow: 3px 10px 12px -3px rgba(0, 0, 0, 0.45),
    2px 20px 14px -2px rgba(0, 0, 0, 0.2), 0 0 1px 0.25px #383129,
    0.5px 0 1px -0.25px #453d3a inset, 0 -1.25px 1.5px -0.75px #22171b inset,
    0 1px 1.25px -0.75px #aea4a3 inset;
}