.footer-bg {
  background-image: linear-gradient(120deg, #1c1c1c, #3d3b3b, #1c1c1c);
}

/* .ig-btn-bg {
  background: rgb(225, 48, 108);
  background: -moz-radial-gradient(
    circle,
    rgba(225, 48, 108, 1) 0%,
    rgba(193, 53, 132, 1) 87%,
    rgba(193, 53, 132, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(225, 48, 108, 1) 0%,
    rgba(193, 53, 132, 1) 87%,
    rgba(193, 53, 132, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(225, 48, 108, 1) 0%,
    rgba(193, 53, 132, 1) 87%,
    rgba(193, 53, 132, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1306c",endColorstr="#c13584",GradientType=1);
} */

.ig-btn-bg {
  color: hsl(340, 75%, 54%);

  background-color: hsl(340, 75%, 54%);
  box-shadow: inset hsla(0, 0%, 1%, 1) 0 0px 0px 2px,
    /* border */ inset hsla(0, 0%, 60%, 1) 0 0px 1px 2px,
    /* soft SD*/ inset hsla(0, 0%, 0%, 0.25) 0 0px 0px 6px,
    /* bottom SD */ inset hsla(0, 0%, 56%, 0.2) 0 0px 2px 7px,
    /* top HL */ hsla(0, 0%, 0%, 0.15) 0 -1px 6px 4px,
    /* outer SD */ hsla(0, 0%, 45%, 0.1) 0 0px 2px 2px;

  transition: color 0.2s;
}

.face-btn-bg {
  color: hsl(221, 44%, 41%);

  background-color: hsl(221, 44%, 41%);
  box-shadow: inset hsla(0, 0%, 1%, 1) 0 0px 0px 2px,
    /* border */ inset hsla(0, 0%, 60%, 1) 0 0px 1px 2px,
    /* soft SD*/ inset hsla(0, 0%, 0%, 0.25) 0 0px 0px 6px,
    /* bottom SD */ inset hsla(0, 0%, 56%, 0.2) 0 0px 2px 7px,
    /* top HL */ hsla(0, 0%, 0%, 0.15) 0 -1px 6px 4px,
    /* outer SD */ hsla(0, 0%, 45%, 0.1) 0 0px 2px 2px;

  transition: color 0.2s;
}

.whatsapp-btn-bg {
  color: hsl(120, 100%, 37%);

  background-color: hsl(120, 100%, 37%);
  box-shadow: inset hsla(0, 0%, 1%, 1) 0 0px 0px 2px,
    /* border */ inset hsla(0, 0%, 60%, 1) 0 0px 1px 2px,
    /* soft SD*/ inset hsla(0, 0%, 0%, 0.25) 0 0px 0px 6px,
    /* bottom SD */ inset hsla(0, 0%, 56%, 0.2) 0 0px 2px 7px,
    /* top HL */ hsla(0, 0%, 0%, 0.15) 0 -1px 6px 4px,
    /* outer SD */ hsla(0, 0%, 45%, 0.1) 0 0px 2px 2px;

  transition: color 0.2s;
}

/* .face-btn-bg {
  background: hsl(221, 44%, 41%);
  background: -moz-linear-gradient(
    top,
    rgba(59, 89, 152, 1) 0%,
    rgba(41, 137, 216, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(59, 89, 152, 1) 0%,
    rgba(41, 137, 216, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(59, 89, 152, 1) 0%,
    rgba(41, 137, 216, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b5998",endColorstr="#2989d8",GradientType=0);
}

.whatsapp-btn-bg {
  background: hsl(120, 100%, 37%);
  background: -moz-linear-gradient(
    top,
    rgba(0, 187, 0, 1) 0%,
    rgba(0, 187, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 187, 0, 1) 0%,
    rgba(0, 187, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 187, 0, 1) 0%,
    rgba(0, 187, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00bb00",endColorstr="#00bb00",GradientType=0);
} */
